<div class="container sign-up-container">
  <div class="row justify-content-center">
    <div class="col-6 p-0">
    <h1 class="text-center">ADRASTOS</h1>
     <div class="d-flex justify-content-center">
        <button class="sign-up-button">SIGN UP</button>
        <button class="sign-in-button">SIGN IN</button>
     </div>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

  <div class="form-inputs input-border">
    <%= f.input :email,
    class: "email-input",
                # required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                # required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                # required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>
  <div class="text-center"><p>Engage with the community and get up to 40% off on your next game</p></div>
  <div class="form-actions text-center">
    <%= f.button :submit, "JOIN NOW", class: "join-button" %>
  </div>
<% end %>
<%#= render "devise/shared/links" %>
    </div>
  </div>
</div>
