<div class="disc-layout">

  <div class="panel p-left-sticky" id="left-panel">
    <h1> <%= @discussion.article.title %> </h1>
    <h3><%= @discussion.title %></h3>
    <div class="titles">
    <span id="title-top">Sub-discussions</span>
    <span id="sub-title">Answers</span>
    </div>
    <ul class="topics sub-list">
      <% @discussion.sub_discussions.each do |subdiscussion| %>
        <li class="subdiscu-pointer span-subdiscu" data-subid="<%= subdiscussion.id %>">
          <span><%= subdiscussion.title %></span>
          <i><%= subdiscussion.comments.count %></i>
        </li>
        <% end %>
    </ul>
    <div class="cta-topic">
      <p>Not finding the topic you're looking for?</p>
      <a href="" class="log-in" id="show-button">Open a new topic</a>
    </div>
    <div class="home-link d-flex justify-content-center"> <%= link_to "Back", article_path(@discussion.article), class: "back-button ml-3"%></div>
    <div id="new-topic" class="d-none">
      <div class="hidden-form" id="art-title">
        <%= simple_form_for ([ @discussion, SubDiscussion.new ]) do |f| %>
          <div class="form-inputs title-border">
            <%= f.input :title, label:'', input_html: { class: 'enter-discussion' } %>
          </div>
          <div>  <%= f.button :submit, "Add It!", class: "log-in" %> </div>
        <% end %>
      </div>
    </div>
  </div>
    <div class="panel d-none-mobile" id="right-panel" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= @discussion.article.photo_url %>)" >
    <div id="mobile-back-btn"></div>
    <% @sub_discussions.each do |subdiscussion| %>
      <div class="sub-comments <%= 'd-none' if subdiscussion.id != @selected %>" id="span_<%= subdiscussion.id %>">
       <h1> <%= subdiscussion.title %> </h1>
          <span> Open since <%= subdiscussion.created_at.strftime('%b. %d %Y') %> </span>
          <% subdiscussion.comments.order(:created_at).each do |comment| %>
            <% next if comment.comment_text.nil? %>
          <ul id="comment-ul">
          <div class="comm-container">
            <div>
              <%= link_to user_path(comment.user_id) do %>
                <% if comment.user.avatar.attached? %>
                  <%= cl_image_tag comment.user.avatar.key, class: "avatar-comment" %>
                <% else %>
                  <%= image_tag "no-image-icon", class: "avatar-comment" %>
                <% end %>
              <% end %>
            </div>
            <div class="content">
              <%= link_to user_path(comment.user_id), class: "comment-nickname" do %>
                <li> <h5> <%= comment.user.nickname %></h5> </li>
              <% end %>
              <li class="com-date"> <%= comment.created_at.strftime('%b. %d %Y') %></li>

            </div>
          </div>
            <div class="voting-container_<%= comment.id %> test2">
              <li id="comm-cont"><%= comment.comment_text %></li>
              <% if comment.user ==  current_user %>
                <%= link_to ("Delete").html_safe, comment_path(comment), id: "vote_#{comment.id}",
                              method: :delete,
                              data: { confirm: "Are you sure?" }, class: "comment-delete"%>
              <% else %>
                <%= link_to like_sub_discussion_comment_path(subdiscussion, comment), id: "vote_#{comment.id}", class: "like-btn", method: :put, remote: true, data: { turbolinks: :false }, style: "#{current_user.voted_up_on?(comment) ? 'pointer-events: none' : ''}" do %>
                  <i class="fas fa-chevron-circle-up"></i>
                  <%= comment.get_upvotes.size %>
                <% end %>
                <%= link_to dislike_sub_discussion_comment_path(subdiscussion, comment), id: "vote_#{comment.id}", class: "like-btn", method: :put, remote: true, data: { turbolinks: :false }, style: "#{current_user.voted_down_on?(comment) ? 'pointer-events: none' : ''}" do %>
                  <i class="fas fa-chevron-circle-down"></i>
                  <%= comment.get_downvotes.size %>
                <% end %>
              <% end %>
            </div>
          </ul>
          <% end %>
       <div class="hidden-form" id="art-title">
        <%= form_for([ subdiscussion, Comment.new ], url: sub_discussion_comments_path(subdiscussion, anchor: "discussion_#{subdiscussion.id}"), html: { id: "discussion_#{subdiscussion.id}"}) do |f| %>
        <!-- <#%= simple_form_for([ subdiscussion, Comment.new ], html: { id: "discussion_#{subdiscussion.id}"}) do |f| %> -->
          <div class="form-inputs title-border">
            <!-- <#%= f.input :content, label:'', input_html: { class: 'disc-title' } %> -->
            <%= f.rich_text_area :comment_text, class: "disc-title comment-action-text", id: "subdiscussion-#{subdiscussion.id}", data: { controller: "mentions", target: "mentions.field"} %>
          </div>
          <div> <%= f.submit "Comment!", class: "log-in comment-action-submit"     %> </div>
          <!-- <div>  <#%= f.button :submit, "Send It!", class: "log-in" %> </div> -->
        <% end %>
      </div>
      </div>
    <% end %>
    </div>

</div>

<script>
  if (window.innerWidth <= 800) {
    const discussions = document.querySelectorAll('.subdiscu-pointer')
    discussions.forEach((discussion) => {
      discussion.addEventListener('click', (event) => {
        document.getElementById('left-panel').classList.add('d-none')
        document.getElementById('right-panel').classList.remove('d-none-mobile')
      })
    })
    const backBtn = document.getElementById('mobile-back-btn')
    backBtn.insertAdjacentHTML("beforeend", "<span class='back-button span-back'>Back</span>");
    backBtn.addEventListener('click', (event) => {
      document.getElementById('left-panel').classList.remove('d-none')
      document.getElementById('right-panel').classList.add('d-none-mobile')
    })
  };
</script>

<!-- <script>
  var forms = document.querySelectorAll('.simple_form.new_comment');
  forms.forEach(form => {
    form.addEventListener('submit', e => {
      // e.preventDefault();
      const comment = e.target.elements[0].value;

    })
  })
</script> -->
