<div class="mega-container">
<!--   <h1 class="main-title ">Adrastos</h1> -->
  <!-- Main title and sign-up button -->
  <div class="main-titles">
    <img src="<%= asset_url("adrastos_logo.svg") %>" alt="Adrastos logo image" class="main-title" style="width: 45%;">
    <h5 class="slogan">It's good to be a gamer</h5>
<!--     <div class="right-most-btn">
      <#% if user_signed_in? %>
        <span class="join"><#%= link_to "Log out", destroy_user_session_path, method: :delete %></span>
        <#% else %>
        <span class="join"><#%= link_to "Join the community", new_user_registration_path %></span>
        <span class="join"><#%= link_to "- Sign in", new_user_session_path %></span>
      <#% end %>
    </div> -->
  </div>
  <br>
  <!-- Two call to action buttons above the grid -->
  <div class="headers-home-container">
    <%= link_to "Create Article", new_article_path, class: "search-button", style: 'width: 200px; font-size: 30px', data: { turbolinks: false }%>
    <div class="search-bar-cont">
      <%= form_tag articles_path, method: :get, class: 'home-search-container' do %>
        <%= text_field_tag :query,
          params[:query],
          class: "search-bar-input",
          placeholder: "Find an article"
        %>
        <%= submit_tag "Search", class: "search-button" %>
      <% end %>
    </div>
  </div>

  <iframe src="https://player.twitch.tv/?channel=fextralife" frameborder="0" allowfullscreen="true" scrolling="no" height="453" width="564" class="chat-border absolutely"></iframe>
  <!-- Grid of cards showing all the articles -->
  <div class="index-grid">
    <% @articles.each_with_index do |article, index| %>
      <%= link_to article_path(article), class: "article-#{index + 1} article game-title-grid" do %>
        <% if article.photo.attached? %>
          <%= cl_image_tag article.photo.key %>
          <p class="game-title-grid"><%= article.title %></p>
        <% else %>
          <img src="<%= article.photo_url %>" alt="cover image">
          <p class="game-title-grid"><%= article.title %></p>
          <h4 class="opened-topics"><%=   article.discussions.count  %> Opened discussions </h4>
        <% end %>
      <% end %>
    <% end %>
  </div>
    <!-- Small break in the grid before starting again -->
  <div class="grid-break-container">
    <h6 class="grid-break-msg">
      Join the rebellion <br>
      Adrastos has the most inclusive community of gamers, where you <br>
      can talk about your gaming experience and knowledge.
    </h6>
    <span><i class="fab fa-twitter"></i></span>
    <span><i class="fab fa-facebook-f"></i></span>
    <span><i class="fab fa-instagram"></i></span>
    <span><i class="fab fa-youtube"></i></span>
    <span><i class="fab fa-twitch"></i></span>
<!--     <br>
    <#%= link_to "Join the community", new_user_session_path, class: "join-grid-break-btn" %> -->
  </div>
</div>
