<div class="container">
  <div class="row justify-content-center article-container">
    <div class="col-lg-8 col-sm-6">
      <div class="article-title">
        <%= form_for(@article) do |f| %>
        <%= f.label :title, class: "article-title-labels", value: "Article title"%>
        <%= f.text_field :title, class: "article-input"%>
      </div>
      <div class="article-content">
        <%= f.label :body, class: "article-labels" %>
        <%= f.rich_text_area :body, class: "article-input", rows: 40%>
        <%= f.submit "Create Article", class: "join-button" %>
      <% end %>
      </div>
    </div=>
  </div>
</div>