<div class="container">
  <div class="row justify-content-center article-container">
    <div class="col-lg-8 col-sm-6">
      <div class="article-logo text-center">
        <%= image_tag "adrastos_logo.svg", class: "article-img" %>
      </div>
      <div class="article-title">
        <%= form_for(@article) do |f| %>
        <%= f.label :title, class: "article-title-labels", value: "TITLE"%>
        <%= f.text_field :title, class: "article-input-title"%>
      </div>
            <% f.label :body, class: "article-labels" %>
            <%= f.rich_text_area :body, class: "article-input", rows: 40%>
      <div class="article-content">
          <div>
         <%= link_to "Back",  root_path  , class: "join-button", id: "back-button"%>
         </div>
        <div>
            <%= f.file_field :photo, direct_upload: true, class: "photo-input"%>
            <%= f.label :photo, "Upload cover photo", class: "photo-label" %>
            <%= f.submit "Create Article", class: "join-button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
