<div class="page-layout">
  <div class="panel">
    <h1><%= @article.title %></h1>
    <p>Published on <%= @article.created_at.strftime('%b. %d %Y') %></p>
    <img src="<%= @article.photo_url %>" alt="cover image" class="article-main-img">
    <div class="article-show-content">
      <p><%= @article.content %></p>
    </div>
    <div class="d-flex justify-content-center">
      <div class="home-link d-flex justify-content-center"> <%= link_to "Back", root_path, class: "back-button"%></div>
    </div>
  </div>

  <div class="panel">
    <div class="category-container">
      <span class="category"><%= @article.discussions.count %> Questions</span>
    </div>
    <div class="titles">
    <span id="title-top">Discussions</span>
    <span id="sub-title">Sub-Discussions</span>
    </div>
    <ul class="topics">
      <% @article.discussions.each do |discussion| %>
        <div >
          <%= link_to discussion_path(discussion), class: "discussion-list-title" do %>
          <li class="discussion-button-hover">
            <span><%= discussion.title %></span>
            <i><%= discussion.sub_discussions.count %></i>
          </li>
        </div>
        <% end %>
      <% end %>
    </ul>

    <div class="cta-topic">
      <p>Not finding the topic you're looking for?</p>
      <a href="" class="log-in" id="show-button">Open a new topic</a>
    </div>

    <div id="new-topic" class="d-none">
      <div class="hidden-form" id="art-title">
        <%= simple_form_for ([ @article, Discussion.new ]) do |f| %>
          <div class="form-inputs title-border">
            <%= f.input :title, label:'', input_html: { class: 'enter-discussion' } %>
          </div>
          <div>  <%= f.button :submit, "Add It!", class: "log-in" %> </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

