<div class="page-layout">
  <div class="panel" id="left-panel-articles">
    <div id="mobile-back-btn"></div>
    <h1><%= @article.title %></h1>
    <p>Published on <%= @article.created_at.strftime('%b. %d %Y') %></p>
<!--     <img src="<#%= @article.photo_url %>" alt="Grand Theft Auto 5 cover image" class="article-main-img">
    <div class="article-show-content">
      <p><#%= @article.body %></p> -->
<% if @article.photo.attached? %>
    <%= cl_image_tag @article.photo.key, class: "article-main-img" %>
<% else %>
    <img src="<%= @article.photo_url %>" alt="cover image" class="article-main-img">
<% end %>

    <div class="article-show-content">

      <p><%= @article.body %></p>
      <% if @article.body.empty? %>
          <p><%= @article.content %> </p>
        <% end %>

    </div>
    <div class="d-flex justify-content-center">
      <div class="home-link d-flex justify-content-center"> <%= link_to "Back", root_path, class: "back-button"%></div>
      <%= link_to like_article_path(@article), class: "articles-like", method: :put do %>
        <i class="fas fa-chevron-circle-up"></i>
        <%= @article.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_article_path(@article), class: "articles-like", method: :put do %>
        <i class="fas fa-chevron-circle-down"></i>
        <%= @article.get_downvotes.size %>
      <% end %>
    </div>
  </div>

  <div class="panel" id="right-panel-article">
    <div class="category-container">
      <div id="mobile-back-article-discussion"></div>
      <span class="category"><%= @article.discussions.count %> Questions</span>
    </div>
    <div class="titles">
    <span id="title-top">Discussions</span>
    <span id="sub-title">Sub-Discussions</span>
    </div>
    <ul class="topics">
      <% @article.discussions.each do |discussion| %>
        <div >
          <%= link_to discussion_path(discussion), data: { turbolinks: :false }, class: "discussion-list-title" do %>
          <li class="discussion-button-hover">
            <span><%= discussion.title %></span>
            <i><%= discussion.sub_discussions.count %></i>
          </li>
        </div>
        <% end %>
      <% end %>
    </ul>

    <div class="cta-topic">
      <p>Not finding the topic you're looking for?</p>
      <a href="" class="log-in" id="show-button">Open a new topic</a>
    </div>

    <div id="new-topic" class="d-none">
      <div class="hidden-form" id="art-title">
        <%= simple_form_for ([ @article, Discussion.new ]) do |f| %>
          <div class="form-inputs title-border">
            <%= f.input :title, label:'', input_html: { class: 'enter-discussion' } %>
          </div>
          <div>  <%= f.button :submit, "Add It!", class: "log-in" %> </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  if (window.innerWidth <= 375) {
    const article = document.querySelectorAll('.left-panel-articles')
    document.getElementById('left-panel-articles').classList.remove('d-none')
    document.getElementById('right-panel-article').classList.add('d-none-mobile')

    const backBtn = document.getElementById('mobile-back-btn')
    backBtn.insertAdjacentHTML("beforeend", "<span class='back-button span-article-back'>Show discussions</span>");
    backBtn.addEventListener('click', (event) => {
      document.getElementById('left-panel-articles').classList.add('d-none')
      document.getElementById('right-panel-article').classList.remove('d-none-mobile')
    })
    const articleBack = document.getElementById('mobile-back-article-discussion')
    articleBack.insertAdjacentHTML("beforeend", "<span class='back-button span-discussion-article-back'>Back to article</span>");
    articleBack.addEventListener('click', (event) => {
      document.getElementById('left-panel-articles').classList.remove('d-none')
      document.getElementById('right-panel-article').classList.add('d-none-mobile')
   })
  }


</script>
