 <div class="main-header">
  <%= link_to "/", class: "logo" do %>
    <%= image_tag "logoa.jpg" %>
    </%>
    <% end %>
      <% if user_signed_in? %>
        <li class="dropdown">
          <% if current_user.avatar.attached? %>
          <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "avatarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
          <%= image_tag "empty.jpg", class: "avatar dropdown-toggle", id: "avatarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <%end%>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="avatarDropdown">
            <%= link_to "Your posts", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Edit your profile", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <div class="session">
          <span><%= link_to "JOIN NOW", new_user_registration_path, class: "join" %></span>
          <span><%= link_to "Log in", new_user_session_path, class: "login" %></span>
        </div>
     <!--    <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="join">Join NOW</button>
          <button type="button" class="login">Log in</button>
        </div> -->
      <% end %>
  </div>
